.dialog-outer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    .mask {
        background: rgba(0,0,0,0.1);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .dialog-inner {
        background: #FFF;
        position: absolute;
        width: 360px;
        height: 240px;
        left: 50%;
        top: 50%;
        margin-left: -180px;
        margin-top: -120px;
        color:#333;
        .close {
            position: absolute;
            right: 10px;
            color: #333;
            top: 10px;
            cursor: pointer;
            .iconfont{
                font-size:20px;
            }
        }

        .title-container {
            padding: 15px;
            border-bottom: 1px solid #eee;
        }
        
        .content-container {
            padding: 15px;
        }
        .footer-container {
            padding: 15px;
            border-top: 1px solid #eee;
            position: absolute;
            bottom: 0;
            width: 100%;
            box-sizing: border-box;
            .button{
                width: auto;
                margin-right: 10px;
                padding: 0 20px;
            }
        }
    }
   
}

